<% content_for :title do %>
  Fishbook - Log in or Sign Up
<% end %>

<div class="container-lg">
  <div class="row">
    <div class="col">
      test

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat convallis facilisis. Nam leo purus, tempor at mauris quis, lacinia bibendum eros. Etiam et dui vehicula erat sodales consectetur. Cras sed fermentum nibh, in condimentum lorem. Integer aliquam tortor sed scelerisque condimentum. Aliquam auctor magna eget pharetra laoreet. Duis faucibus aliquam luctus. Sed et facilisis neque, nec fermentum velit. Nullam non placerat augue. Integer posuere nisi nec metus luctus, sed aliquam augue pharetra. Quisque ac justo sed lacus imperdiet consequat. Sed nisl ante, fringilla eget interdum id, sodales id turpis. Maecenas ex enim, efficitur vitae tellus finibus, tempor posuere velit. Cras congue, lorem id iaculis iaculis, arcu metus commodo sapien, sed sodales lectus orci id mi. Nunc sit amet elementum sem.</p>

<p>Donec pharetra tempus mauris molestie fringilla. Nam elit diam, bibendum at risus sit amet, auctor scelerisque mi. Morbi eget molestie nibh, quis mattis ipsum. Phasellus lobortis ultrices lectus, sed mollis ligula aliquam quis. Duis bibendum, lorem at aliquam ultricies, velit mi dapibus urna, porta vulputate leo odio in turpis. Vestibulum laoreet diam quis risus tristique, et porta purus vehicula. Nulla euismod tellus ut ex pretium, et ultricies ipsum placerat. In convallis volutpat nisi in ultrices. Vivamus lobortis convallis metus, sed euismod leo consequat sit amet. Curabitur eleifend nulla ac erat rhoncus, ut dapibus purus lacinia. Quisque gravida tristique porta. In hac habitasse platea dictumst. In accumsan, magna non tincidunt condimentum, dolor est sagittis nibh, eget pellentesque est elit quis tortor. Cras vel nisi consectetur, convallis urna a, bibendum libero.</p>

Ut aliquam consectetur iaculis. Praesent sed vulputate tellus. Donec tincidunt semper vulputate. In in elit fermentum, ultricies orci ut, varius risus. Nunc tincidunt hendrerit neque, vitae fringilla diam ultrices porttitor. Donec sagittis, dui quis interdum lobortis, sem sem commodo eros, ut sollicitudin enim urna sit amet leo. Sed quis massa id augue tincidunt porttitor laoreet vel leo. Sed eget ultrices quam, a laoreet tellus. Nam sagittis tincidunt tempus.

Etiam gravida bibendum vestibulum. Sed ut augue felis. Nam aliquet eget nulla sed volutpat. In sagittis lorem id euismod posuere. Quisque mollis volutpat faucibus. Aenean tristique, sapien ut fermentum rutrum, sapien nulla efficitur augue, nec consequat sem nulla et turpis. Quisque suscipit ipsum ligula, ac euismod ipsum pulvinar ut. Sed ut condimentum enim.

In eget hendrerit felis. Proin quam sapien, egestas et fermentum vitae, pretium interdum nulla. Fusce eleifend luctus sapien sed lobortis. Cras fermentum enim sed tincidunt bibendum. Sed rutrum est non eleifend consequat. Aliquam vel facilisis ante, vitae luctus nibh. Nam non metus vitae tellus scelerisque volutpat sed non diam. Ut blandit lacus purus, a sodales sem luctus in. Donec quis auctor risus, nec malesuada sem.

Ut vulputate metus efficitur arcu efficitur, id mattis nisi consequat. Morbi facilisis tellus ac lacinia maximus. Nullam non dui eget arcu sollicitudin sodales. Nulla condimentum enim quis iaculis feugiat. Ut in justo laoreet augue malesuada suscipit. Cras eget nulla sit amet augue placerat mattis. Nunc eleifend urna nec commodo luctus. Nullam commodo congue magna vitae tincidunt.

Vivamus feugiat lacus quis justo tristique, ut ornare ex iaculis. Morbi hendrerit porttitor nunc, eu pulvinar velit tempus a. Cras facilisis placerat velit at finibus. Fusce quis ipsum lectus. Suspendisse eget ultrices odio. Donec facilisis vitae metus in suscipit. Nunc id porttitor quam. Donec at feugiat leo, luctus pellentesque libero. Etiam congue ante eget metus iaculis, vitae dignissim odio scelerisque. Praesent convallis pretium eros, vel pellentesque massa. Suspendisse viverra turpis non aliquam rhoncus. Nullam dictum arcu libero, a viverra enim mollis a.

Etiam at odio vitae tellus bibendum auctor. Aenean a faucibus lorem. Suspendisse quis venenatis elit. Nulla ac consequat libero. Aenean gravida dictum quam sit amet dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur venenatis tempor nulla vel volutpat. Donec ornare eros eget tortor lobortis placerat. Phasellus tempor massa at nunc sodales malesuada. Proin elementum in mi venenatis congue. Mauris non quam accumsan massa maximus aliquet.

Praesent ultrices dapibus aliquet. Vivamus facilisis tortor sed lectus euismod commodo. Aliquam in fringilla dui. Sed non imperdiet sem, ut vehicula ligula. Sed rhoncus, nulla vitae dictum accumsan, turpis risus congue enim, at iaculis dui nunc in libero. Vestibulum mattis vitae massa et bibendum. Sed volutpat, nunc ut suscipit tempus, dui dolor imperdiet mi, vel dignissim enim tortor sit amet erat. Nulla facilisi. Donec tincidunt felis at consequat iaculis. Fusce id sapien mauris. Phasellus quis convallis erat. Maecenas id egestas nisi. Aenean id bibendum urna, ac volutpat purus. Nulla facilisi.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec rhoncus mi ac velit elementum imperdiet. Vestibulum et lorem in odio tristique luctus sit amet a odio. Nam ornare finibus erat, a luctus nisl euismod ut. Nulla a tortor condimentum, ornare metus in, mollis augue. Pellentesque id mi non metus ullamcorper porta. Donec finibus lorem mauris, ut porttitor tellus ornare in. Praesent id augue justo. Ut suscipit viverra sem, efficitur condimentum tellus placerat eget. Nulla ultrices, nisl at varius pellentesque, sapien ante vehicula nisl, sed auctor lacus tortor et lectus. Vivamus semper ut massa id vulputate. Mauris porta posuere velit, sit amet cursus urna lobortis eu. Phasellus vel lacus convallis, laoreet dolor at, placerat dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Nullam tristique lacus nibh, at pharetra risus rutrum et. Nam ut facilisis risus, quis facilisis libero. Mauris sollicitudin est id pharetra tincidunt. Morbi tincidunt diam mi, eget ornare velit commodo et. Fusce dolor ligula, finibus eget est vitae, faucibus molestie mauris. Sed id hendrerit lacus. Vivamus mattis bibendum dictum. Nunc dapibus cursus ante quis euismod. Nam non erat convallis, placerat metus vitae, imperdiet arcu. Praesent egestas leo velit, sit amet volutpat sapien euismod aliquet. Nullam et iaculis diam. Nam molestie placerat sapien, in placerat nisi rutrum vel. Proin eu placerat leo. Etiam viverra tortor dignissim turpis interdum, ac posuere massa interdum. Nullam quis mi id tellus aliquet interdum id vitae velit.

Sed laoreet, eros id commodo pretium, massa ex malesuada est, at pulvinar nunc velit et lacus. Cras in risus ullamcorper, tristique lectus placerat, finibus mi. Suspendisse rhoncus sem a turpis sollicitudin, at luctus mi porta. In ornare velit vel sollicitudin euismod. Praesent luctus leo massa, vitae iaculis leo tempus ut. Aliquam suscipit dictum odio quis aliquet. Nullam posuere vulputate tincidunt. Donec pharetra mi sed nisi pulvinar gravida. Donec placerat nec lorem in dictum. Sed scelerisque tristique auctor. Nulla sed leo lacinia, pretium magna in, vulputate elit. Pellentesque sed sem sed enim rhoncus congue.

Suspendisse potenti. Aenean orci diam, rhoncus non venenatis vel, tincidunt ac nunc. Fusce venenatis mollis ipsum et euismod. Curabitur ante ante, aliquet et viverra et, semper in enim. Mauris rutrum ante et lacus rhoncus, non sollicitudin risus pharetra. Maecenas elementum felis in neque lacinia pretium. In consequat bibendum dictum. Proin eleifend risus vitae nibh pellentesque, sed molestie ante mattis. Cras diam mauris, vestibulum sed eleifend at, interdum non justo. Nulla consequat molestie nisl. Mauris vestibulum pellentesque quam, eget lacinia purus consequat nec. Quisque hendrerit libero et nulla semper, sollicitudin condimentum nunc semper. Sed velit dui, ornare quis mi a, scelerisque hendrerit leo. Vestibulum sollicitudin nunc et metus tincidunt, quis facilisis est lacinia. Integer mollis magna nec magna mollis feugiat nec ut mauris. Integer nec dolor iaculis, maximus nibh eu, maximus urna.

Sed a volutpat dui. Phasellus ultricies, quam id elementum fringilla, nulla lacus molestie nisi, a fermentum orci nisl ultrices felis. Ut vel convallis nulla, ac facilisis neque. Aliquam faucibus enim urna, et mattis neque elementum at. Donec maximus, nisl non rutrum luctus, diam lorem pharetra felis, et euismod augue turpis vel magna. Pellentesque mattis nulla sed tempus molestie. Nunc odio orci, commodo eu varius id, maximus in orci. Sed fringilla, magna interdum eleifend fermentum, mi tellus egestas erat, sed posuere dolor turpis sit amet orci. Nullam eget risus lobortis, ullamcorper leo in, mattis tortor. Cras malesuada gravida dapibus.

<p>Curabitur nunc neque, suscipit nec semper ut, vestibulum ac elit. Cras vitae dui sodales, mattis arcu vitae, vehicula nisl. Fusce bibendum tortor eget urna pharetra tincidunt. Fusce iaculis, quam quis laoreet tempor, ante quam fermentum nisl, eu bibendum velit quam eget quam. Aliquam ligula massa, vehicula ut dolor sit amet, posuere placerat nibh. Cras sit amet lorem eu quam pharetra imperdiet. In hac habitasse platea dictumst. Maecenas facilisis, nibh pulvinar hendrerit pellentesque, sapien eros hendrerit eros, ac aliquam felis velit vitae nibh. Ut non orci et nisi finibus rhoncus. Maecenas eu ex convallis, condimentum sapien vitae, lacinia augue. Aenean consectetur mi vitae dolor rhoncus, ac lacinia risus rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla eget metus ut urna ultrices bibendum nec sed tortor. Mauris sodales vehicula urna, id tincidunt metus gravida nec.</p>



    </div>
  </div>
</div>


<!-- autogenerated stuff -->
<% if false %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
